* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 10%;
}

header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.head-left{
    display: flex;
    align-items: center;
}

main {
    background-color: aquamarine;
    padding: 50px;   
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-mess{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

#main-grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}


.square {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}


.red{
    background-color: #dc143c;
}

.blue{
   background-color: cornflowerblue;
}

footer{
    width: 80%;
    margin: 0 auto;
    line-height: 100px;
}

footer div{
    font-size: 30px;
}